@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300');

body{
	font-family: Montserrat;
	background-color: #EBE6F1;
}

.container{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 79%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container-bottom{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.card-img{
	text-align: center;
	margin-right: 26px;
}

.img-profile{
	border-radius: 50%;
	width: 120px;
	height: 120px;
}

.card{
	padding-top: 5px;
	padding-bootom: 5px;
	padding-right: 12px;
	padding-left: 12px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background-color: white;
}

.card-margin{
	margin-left: 26px;
	margin-right: 26px;
}
