@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300');

body{
	background-color: #EBE6F1;
}

.container{
	display: flex;	
}

.subcontainer{
	display: flex;
	flex-direction: column;
}

.card-img{
		
}

.img-profile{
	border-radius: 50%;	
}
