@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300');

body{
	background-color: #EBE6F1;
}

.container{
	display: flex;
	align-items: center;
	justify-content: space: evenly;
}

.subcontainer{
	display: flex;
	flex-direction: column;
}

.card-img{
	background-color: white;
	padding: 12px;
	text-align: center;
}

.img-profile{
	border-radius: 50%;
	width: 120px;
	height: 120px;
}
